.pagination-container {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 10px;
  margin-top: 100px;
  border-radius: 10px;
}

.page-item {
  list-style: none;
}

.page-link {
  font-weight: 600;
  cursor: pointer;
  padding: 8px 10px;
}

.active {
  color: #fff;
  border-radius: 4px;
  background-color: #00b5cc;
}
